body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

main {
  height: 102vh;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #555;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

li {
  padding: 0px 16px 0px;
}

a {
  color: white;
  text-decoration: none;
}

.article {
  background-color: white;
  padding: 20px 20px 12px;
  margin: 0px 40px 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  border-radius: 6px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
}
